@font-face {
  font-family: "Lexend Deca";
  src: url(LexendDeca-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: center;
}

body > section {
  overflow: scroll;
  padding: 30px;
}

main, footer {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

footer > p {
  color: gray;
  text-align: center;
  margin-bottom: 0;
}

p, b, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Deca", Arial;
}

a {
  text-decoration: none;
  color: #2d79f7;
  font-size: 16px;
}

p, b {
  line-height: 22px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

b {
  font-weight: 500;
  font-size: 16px;
}

#imageContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1;
}

#imageContainer > img {
  width: 109%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -7px;
}

#contactContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

#contactContainer > ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 800px) {

  #footer > p {
    text-align: left;
  }
  
  #contactContainer {
    flex-direction: row;
  }

}
